
body{
    /*background-color: #535353;*/
}
.tag{
    height: 100%;
    position: relative;
    /*background-color: #535353;*/
}

.color-gray{
    background-color: #cdc9dd;
}
.color-gray1{
    background-color: #7a7a7a;
}
.color-origin{
    background-color: #f5574c;
}
.tag-center{
    height: 170px;
    width: 970px;
    /*margin: 0 auto;*/
    /*width: 100%;*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /*vertical-align: middle;   */
    transition: 1s ease-in-out 0.2s;
    opacity: 0.5;
    line-height: 170px;
    display: inline-block;
    padding-top: 10px;
    border: #ffffff 5px solid;
    background-color: aquamarine;
}

.tag-center:hover{
    /*font-size: 60px;*/
    /*background-color: white;*/
    color: white;
    opacity: 1;
    /*text-shadow: 8px 8px 20px #696969;*/
}
.tag1-margin{
    margin-left: 22px;
    margin-right: 22px;
    transition: 1s ease-in-out 0.2s;
    opacity: 0.5;
}

.tag2-center{
    /*height: 170px;*/
    /*width: 970px;*/
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 30px;
}
.tag1-margin:hover{
    opacity: 1;
}

.icon-next{
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 90%;
    left: 50%;
    transform: translateY( -50% );
    opacity: 0.5;
    transition: 1s ease-in-out 0.2s;
    display: inline-block;
}
.icon-next:hover{
    opacity: 1;
}
.icon-next p{
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%  -50%);
}

.tag1-p{
    opacity: 0.5;
    transition: 1s ease-in-out 0.2s;
}
.tag1-p:hover{
    opacity: 1;
}