*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    color:white;
}
.tag{
    height: 690px;
    min-height: 500px;
}
.tag-center{
    height: 170px;
    width: 970px;
    line-height: 170px;

    /*核心*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    /*vertical-align: middle;   */
    transition: 1s ease-in-out 0.2s;
    opacity: 0.5;
    display: inline-block;
    padding-top: 10px;
    border: #ffffff 5px solid;
    background-color: #696969;
}

.tag-center:hover{
    /*font-size: 60px;*/
    /*background-color: white;*/
    color: white;
    opacity: 1;
    /*text-shadow: 8px 8px 20px #696969;*/
}
.container{
    width: 1100px;
    height: inherit;
    margin: 0 auto;
    z-index: -1;
}
.card{
    /*Y轴居中*/
    top:50%;
    /*transform: translateY(-50%);*/
    margin-top: -150px;
    z-index:999999;
    float: left;
    position: relative;
    display:inline-block;
    height: 319px;
    width: 220px;
    margin-left: 44px;
    transition: 1s ease-in-out 0.2s;
    overflow: hidden;
}
.card:hover{
    box-shadow: 8px 8px 8px #000000;
    transform:scale(1.04, 1.04);
}
.poster{
    width: 220px;
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
}